header{
    display: flex;
    min-height: 70px;
    background-color: #571ce2;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

a{
    color: chartreuse;
    display: inline-block;
    font: bold 14px verdana;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 80px;
    margin-right: 10px;
}
nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: white;
}

body{
    background-color: #571ce2;
}

.pagina1{
    color: white;
}
.pagina1color{
    color: rgb(0, 255, 191);
    margin: 1px;
    height: 10px;
    margin: 0%;
}
.pagina1texto{
    color: aqua;
    margin: 20px;
    letter-spacing: normal;
    word-spacing: normal;
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
   
}